@import "../../settings/settings";
@import "../../settings/mixins";

/*  Hero Slider
======================================*/
.hero-container { position: relative; margin-bottom: 10px;
	.item-caption {
		@media ( min-width: 768px ) {
			position: absolute; top: 50%; left: 50%; transform: translate( -50%, -50% ); z-index: 999;
		}
		.col {
			.hero-content { padding: 30px 0;
				@media ( min-width: 768px ) {
					padding: 30px;
				}
				.hero-title {
					h1 { }
				}
				.hero-caption {
					p { }
					a { }
				}
			}
		}
	}
}
.hero-image { position: relative; margin-bottom: 10px;
	@media ( min-width: 768px ) {
		overflow: hidden;
		img {object-fit: cover; width: 100%; }
	}
	.container { position: absolute; bottom: 0; left: 0; right: 0;
		@media ( min-width: 768px ) {
			top: 50%; left: 50%; transform: translate( -50%, -50% ); z-index: 999;
		}
		.caption {
			.col { }
		}
	}
}