*~
.DS_Store
.svn
.cvs
.png
.jpg
.jpeg
.svg
.gif
.swf
.fla
.psd
.ai
*.bak
*.swp
*.pdf
.idea/workspace.xml
Thumbs.db
wp-content/plugins/wp-site-migrate
wp-content/plugins/what-the-file
.gitignore
app/cache

# wordpress specific
wp-config.php
wp-admin/
wp-includes/
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate
wp-content/object-cache.php
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/force-strong-passwords/*
wp-content/mu-plugins/wpengine-common/*
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/limit-login-attempts
wp-content/mu-plugins/wpengine-common
wp-content/mysql.sql

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
node_modules
*.png
*.mo
*.po
*.txt
.idea/blade.xml
.idea/php.xml
.idea
*.jpg
.htaccess
favicon.ico
index.php
license.txt
readme.html
wordfence-waf.php
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
stop-long-comments.php
wp-content/themes/twentyfifteen
wp-content/themes/twentyseventeen
wp-content/themes/twentysixteen
package-lock.json
wp-content/plugins/advanced-custom-fields-pro/assets/css/acf-global.min.min.css
wp-content/plugins/advanced-custom-fields-pro/assets/css/acf-input.min.min.css
wp-content/plugins/advanced-custom-fields-pro/pro/assets/css/acf-pro-input.min.min.css
wp-content/plugins/google-analytics-for-wordpress/assets/css/admin.min.min.css
wp-content/plugins/google-analytics-for-wordpress/assets/css/jvectormap/jquery-jvectormap-2.0.3.min.min.css
wp-content/plugins/google-analytics-for-wordpress/assets/css/select300/select300.min.min.css
wp-content/plugins/ninja-forms/assets/css/admin-system-status.min.min.css
wp-content/plugins/ninja-forms/deprecated/upgrade/jBox.min.min.css
wp-content/plugins/wordpress-seo/css/dist/admin-global-540-rtl.min.min.min.css
wp-content/plugins/wordpress-seo/css/dist/admin-global-540.min.min.min.css
wp-content/plugins/wordpress-seo/css/dist/adminbar-540-rtl.min.min.min.css
wp-content/plugins/wordpress-seo/css/dist/adminbar-540.min.min.min.css
wp-content/plugins/wordpress-seo/css/dist/alerts-540-rtl.min.min.min.css
wp-content/plugins/wordpress-seo/css/dist/alerts-540.min.min.min.css
wp-content/plugins/wordpress-seo/css/dist/dashboard-540-rtl.min.min.min.css
wp-content/plugins/wordpress-seo/css/dist/dashboard-540.min.min.min.css
wp-content/plugins/wordpress-seo/css/dist/edit-page-540-rtl.min.min.min.css
wp-content/plugins/wordpress-seo/css/dist/edit-page-540.min.min.min.css
wp-content/plugins/wordpress-seo/css/dist/featured-image-540-rtl.min.min.min.css
wp-content/plugins/wordpress-seo/css/dist/featured-image-540.min.min.min.css
wp-content/plugins/wordpress-seo/css/dist/help-center-540-rtl.min.min.min.css
wp-content/plugins/wordpress-seo/css/dist/help-center-540.min.min.min.css
wp-content/plugins/wordpress-seo/css/dist/inside-editor-540-rtl.min.min.min.css
wp-content/plugins/wordpress-seo/css/dist/inside-editor-540.min.min.min.css
wp-content/plugins/wordpress-seo/css/dist/metabox-540-rtl.min.min.min.css
wp-content/plugins/wordpress-seo/css/dist/metabox-540.min.min.min.css
wp-content/plugins/wordpress-seo/css/dist/metabox-primary-category-540-rtl.min.min.min.css
wp-content/plugins/wordpress-seo/css/dist/metabox-primary-category-540.min.min.min.css
wp-content/plugins/wordpress-seo/css/dist/snippet-540-rtl.min.min.min.css
wp-content/plugins/wordpress-seo/css/dist/snippet-540.min.min.min.css
wp-content/plugins/wordpress-seo/css/dist/toggle-switch-540-rtl.min.min.min.css
wp-content/plugins/wordpress-seo/css/dist/toggle-switch-540.min.min.min.css
wp-content/plugins/wordpress-seo/css/dist/wpseo-dismissible-540-rtl.min.min.min.css
wp-content/plugins/wordpress-seo/css/dist/wpseo-dismissible-540.min.min.min.css
wp-content/plugins/wordpress-seo/css/dist/yst_plugin_tools-540-rtl.min.min.min.css
wp-content/plugins/wordpress-seo/css/dist/yst_plugin_tools-540.min.min.min.css
wp-content/plugins/wordpress-seo/css/dist/yst_seo_score-540-rtl.min.min.min.css
wp-content/plugins/wordpress-seo/css/dist/yst_seo_score-540.min.min.min.css
wp-content/plugins/wordpress-seo/css/dist/select2/select2.min.min.min.css
wp-content/themes/centerpoint/style.min.min.min.css
wp-content/themes/centerpoint/css/bootstrap.min.min.css
wp-content/themes/centerpoint/css/custom.min.min.css
wp-content/themes/centerpoint/css/overrides.min.min.css
wp-content/themes/centerpoint/vendor/twitterFetcher/jquery.twitterFetcher.style.min.min.css
