#Basic file types
*.DS_Store
*.svg
*.svn
*.csv
*.cvs
*.jpg
*.JPG
*.jpeg
*.JPEG
*.gif
*.png
*.gif
*.swf
*.fla
*.sql
*.pdf
*.bak
*.swp
*.swf
*.xap
*.ico
*.mo
*.po
*.htaccess
.htaccess
package-lock.json
.git/

#Adobe Products
*.psd
*.ai
*.indd

#WordPress
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

#Folders
.idea/
wp-admin/
wp-content/mu-plugins/force-strong-passwords/
wp-content/mu-plugins/wpengine-common/
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/sit-force-strong-passwords.php
wp-content/mu-plugins/stop-long-comments.php
wp-content/plugins/better-wp-security/
wp-content/plugins/hookr/
wp-content/plugins/what-the-file/
wp-content/themes/twenty*/
wp-includes/
wp-snapshots/
**/ewww/
**/uploads/
**/upgrade/
**/cache/
node_modules/

#WP File Specifics
wp-content/advanced-cache.php
wp-content/object-cache.php
debug.log