/*  Hero Slider
======================================*/
.hero-container { position: relative;
	.item-caption {
		@media ( min-width: 768px ) {
			position: absolute; top: 50%; left: 50%; transform: translate( -50%, -50% ); z-index: 999;
		}
	}
}
.hero-image { position: relative;
	@media ( min-width: 768px ) {
		overflow: hidden; min-height: 50vh;
		img {object-fit: cover; width: 100%; }
	}
	.container { position: absolute; bottom: 0; left: 0; right: 0;
		@media ( min-width: 768px ) {
			top: 50%; left: 50%; transform: translate( -50%, -50% ); z-index: 999;
		}
		.caption {
			.col { }
		}
	}
}