@import "../settings/_settings.scss";
@import "../settings/_mixins.scss";

/*  Gallery
======================================*/
.gallery-content {
	.column-content { margin-bottom: 40px; }
	.gallery-container {
		a { outline: 0!important; }
		.row {
			&:not(:last-of-type) { margin-bottom: 20px;}
		}
	}
}