/* Fonts */

$header:    'Lato', sans-serif;;
$body_text: 'Merriweather', serif;

$primary_dark:    #0097A7;
$primary:         #00BCD4;
$primary_light:   #B2EBF2;
$primary_text:    #FFFFFF;
$accent_color:    #607D8B;
$primary_color:   #212121;
$secondary_color: #757575;
$divider_color:   #BDBDBD;